@model IEnumerable<ToDo.Models.TaskViewModels.TaskViewModel>
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Tasks";
}

@if (SignInManager.IsSignedIn(User))
{
    <h2>@ViewData["Title"]</h2>

    <p>
        <a asp-action="Create" class="btn btn-primary" asp-route-returnurl="@Context.Request.Path">Create</a>
    </p>

    @await Html.PartialAsync("_Tasks")
}